// Status
$color-error: #fa5252 !default;
$color-success: #12b886 !default;
$color-warning: #f59f00 !default;

// Grey Primary
$color-black: #000 !default;
$color-white: #fff !default;

// Grey
$color-gray-500: #2b2c33 !default;
$color-gray-400: #6e7074 !default;
$color-gray-300: #d5d9de !default;
$color-gray-200: #e5e4e8 !default;
$color-gray-100: #f2f2f2 !default;

// Blue
$color-blue: #0078ca !default;
$color-blue-curious: #1686d9 !default;
$color-mint: #8fd3c5 !default;

// Orange
$color-orange: #ec7758 !default;
$color-orange-burnt-sienna: #ec7758 !default;

// Yellow
$color-yellow: #f0c01e !default;
$color-yellow-buttercup: #f0c01e !default;

// Pink
$color-fuchsia: #e362a6 !default;
$color-rose: #f7b7a6 !default;

// Gradients
$color-blue-gradient-dark: #0078d4 !default;
$color-blue-gradient-light: #00bcf2 !default;
$color-blurple-gradient-dark: #49409a !default;
$color-blurple-gradient-light: #8378de !default;
$color-purple-gradient-dark: #c239b3 !default;
$color-purple-gradient-light: #c182d1 !default;

$color-pink-gradient-dark: #ff6767 !default;
$color-pink-gradient-light: #ee9889 !default;
$color-orange-gradient-dark: #ff8c00 !default;
$color-orange-gradient-light: #f7b189 !default;
