/* Mobile specific settings. */

/* Overlay */

.gsc-results-wrapper-overlay {
    box-sizing: border-box;
    top: 5%;
    left: 2%;
    height: 90%;
    width: 96%;
}

/* The above-wrapper-area */

.gsc-above-wrapper-area {
    display: none;
}

/* Tabs */

.gsc-tabsArea {
    margin: 12px 0;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    border: 1px solid #dfe1e5;
    border-radius: 8px;
    scrollbar-width: none;
}

.gsc-tabsArea::-webkit-scrollbar {
    display: none;
}

.gsc-tabHeader {
    font-size: 12px;
    width: 50%;
    border: none;
    border-radius: 0;
    padding: 0;
}

/* Refinements */

.gsc-refinementsArea {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    border: 1px solid #dfe1e5;
    border-radius: 8px;
    scrollbar-width: none;
}

.gsc-refinementsArea::-webkit-scrollbar {
    display: none;
}

.gsc-refinementsGradient {
    position: absolute;
    pointer-events: none;
    right: 1px;
    height: 31px;
    width: 31px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    z-index: 1;
}

.gsc-refinementHeader {
    font-size: 12px;
}

/* All results */

.gsc-webResult .gsc-results {
    width: auto;
}

/* Each result */

.gsc-webResult .gsc-result {
    border-bottom: 1px solid #dfe1e5;
    word-break: break-word;
}

/* Search box */

.gsc-search-box-tools .gsc-search-box .gsc-input {
    padding: 0;
}

.gsc-input-box {
    padding-top: 6px;
    padding-bottom: 5px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.gsc-input-box table {
    height: 100%;
}

/* Search button */

.gsc-search-button-v2 {
    width: auto;
    padding: 11px 10px;
    margin: 0;
    border-radius: 0;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.gsc-search-button-v2 svg {
    height: auto;
    width: 16px;
}

/* Suggestions */

.gsc-completion-container {
    border-collapse: collapse;
}

td.gssb_a {
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid #dfe1e5;
}

/* Next page button */

.gsc-results .gsc-cursor-box {
    border: 1px solid #dfe1e5;
    border-radius: 8px;
    text-align: center;
    padding: 0;
}

.gsc-results .gsc-cursor {
    display: -webkit-flex;
    /* iOS 7.0-8.4, Android 2.1-4.3 */
    display: flex;
    align-items: center;
}

.gsc-cursor-container-previous {
    flex-grow: 1;
    text-align: right;
    padding: 10px 0;
}

.gsc-cursor-container-next {
    flex-grow: 1;
    text-align: left;
    padding: 10px 0;
}

.gsc-cursor-next-page {
    display: inline;
    cursor: pointer;
    margin-left: 45px;
}

.gsc-cursor-numbered-page {
    display: inline;
}

.gsc-cursor-final-page {
    display: inline;
    margin-right: 45px;
}

.gsc-cursor-chevron {
    cursor: pointer;
    margin: 0 16px -1px;
}

/* Bottom branding */

.gcsc-branding {
    clear: both;
}

.gcsc-branding,
.gcsc-branding-text:not(.gcsc-branding-text-name) {
    display: block;
    text-align: center;
}

.gcsc-branding-text-name {
    font-size: 16px;
}

/* Thumbnails */

.gs-promotion-image-box img.gs-promotion-image,
.gs-web-image-box-portrait img.gs-image,
.gs-web-image-box-landscape img.gs-image {
    object-fit: cover;
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
}

.gs-promotion-image-box,
.gs-image-box.gs-web-image-box.gs-web-image-box-portrait,
.gs-image-box.gs-web-image-box.gs-web-image-box-landscape {
    float: right;
    margin-left: 10px;
    width: auto;
    height: auto;
}

/* "Find more on Google" button */

.gcsc-find-more-on-google-root {
    text-align: center;
}

.gcsc-more-maybe-branding-box {
    border: 1px solid #dfe1e5;
    border-radius: 18px;
    margin: 3px;
    padding: 8px;
    display: inline-block;
}

.gcsc-find-more-on-google {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    padding-top: 0px;
    padding-bottom: 1px;
}

.gcsc-find-more-on-google-query {
    max-width: 170px;
}