.icon-component {
  display: inline-block;
  font-family: 'SkypeAssetsLight-web';
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }
  .icon-component a {
    text-decoration: none; }

.btn, .linkCta {
  font-size: inherit;
  cursor: pointer;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif; }
  .btn-small {
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 16px; }

.btn-small a {
  font-size: 14px;
  padding: 10px 18px; }

.linkCta {
  color: #0078ca;
  background-color: transparent;
  border: 0;
  padding: 0;
  margin: 0; }
  .linkCta:hover, .linkCta:focus {
    text-decoration: underline;
    color: #2b2c33; }
  .linkCta:active {
    background: none; }

.alertCta {
  background-color: #f0c01e; }
  .alertCta:active, .alertCta:hover, .alertCta:focus {
    background-color: #cda20e;
    color: #000; }

.supernova-column {
  float: left;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
          flex-direction: column;
  -webkit-flex: 1 1;
          flex: 1 1;
  -webkit-flex-basis: 100%;
          flex-basis: 100%;
  overflow: hidden;
  padding: 10px 15px;
  min-height: 50px; }
  @media (max-width: 1023px) {
    .supernova-column {
      -webkit-flex: 100% 1 !important;
              flex: 100% 1 !important;
      max-width: 100% !important; } }

@media only screen and (max-width: 767px) {
  .supernova-row .supernova-column {
    padding: 10px;
    -webkit-align-items: center;
            align-items: center; }
    .supernova-row .supernova-column .supernova-bubble {
      width: 100%; } }

@media (min-width: 768px) {
  .supernova-row {
    margin-right: -4px;
    margin-left: -4px; } }

.supernova-text-content .icon-component {
  font-size: 35px; }
  .supernova-text-content .icon-component.icon-content {
    position: absolute;
    right: 15px;
    top: 15px; }

.supernova-text-content li {
  margin-top: 15px; }

.supernova-text-content a {
  text-decoration: underline; }

.supernova-text-content-title {
  padding-right: 20px; }

.supernova-text-content-txt p {
  line-height: 1.8em;
  font-size: 100%; }

.image-component img {
  max-width: 100%; }

.image-component.background .image {
  display: inline-block;
  background-size: cover;
  background-position: center; }

.supernova-dynamic-placeholder {
  height: 100%;
  width: 100%; }
  .supernova-dynamic-placeholder * {
    color: rgba(0, 0, 0, 0) !important; }
  .supernova-dynamic-placeholder * > img,
  .supernova-dynamic-placeholder * > p,
  .supernova-dynamic-placeholder * > h1,
  .supernova-dynamic-placeholder * > h2,
  .supernova-dynamic-placeholder * > h3,
  .supernova-dynamic-placeholder * > h4,
  .supernova-dynamic-placeholder * > a,
  .supernova-dynamic-placeholder * > button {
    pointer-events: none;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    overflow: hidden;
    border-color: transparent;
    background: #f6f7f8;
    background-image: -webkit-linear-gradient(left, #f6f7f8 0%, #edeef1 20%, #f6f7f8 40%, #f6f7f8 100%);
    background-repeat: no-repeat;
    background-size: 900px 100%;
    z-index: -1;
    -webkit-animation: placeHolderShimmer 2.5s linear infinite forwards;
            animation: placeHolderShimmer 2.5s linear infinite forwards; }
    .supernova-dynamic-placeholder * > img::before,
    .supernova-dynamic-placeholder * > p::before,
    .supernova-dynamic-placeholder * > h1::before,
    .supernova-dynamic-placeholder * > h2::before,
    .supernova-dynamic-placeholder * > h3::before,
    .supernova-dynamic-placeholder * > h4::before,
    .supernova-dynamic-placeholder * > a::before,
    .supernova-dynamic-placeholder * > button::before {
      content: 'Lorem ipsum'; }

@-webkit-keyframes placeHolderShimmer {
  0% {
    background-position: -900px 0; }
  100% {
    background-position: 900px 0; } }

@keyframes placeHolderShimmer {
  0% {
    background-position: -900px 0; }
  100% {
    background-position: 900px 0; } }

.supernova-skype-credits-component h3,
.supernova-skype-credits-component h1 {
  margin-bottom: 25px; }

.supernova-skype-credits-component .icon-component {
  display: inline-block;
  padding-left: 5px; }

.skype-credits-recharge {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: space-between;
          justify-content: space-between; }

.supernova-credit-buttons .button-component {
  -webkit-align-self: center;
          align-self: center; }

.supernova-skype-credits-balance .linkCta {
  text-decoration: none;
  display: inline-block; }

.skype-credits-auto-recharge-button a {
  display: block;
  position: relative; }
  .skype-credits-auto-recharge-button a::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent; }

.text-icon {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
          align-items: center; }
  .text-icon.icon-left .icon-component {
    display: inline-block; }
  .text-icon.icon-left .text-icon-content {
    padding-left: 10px; }
    .text-icon.icon-left .text-icon-content * {
      margin: 0; }

.subscriptions-component {
  min-height: auto;
  height: 100%; }

.subscription-row {
  width: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap; }
  .subscription-row .supernova-column {
    overflow: visible; }

.subscriptions-list {
  width: 100%;
  display: block; }
  .subscriptions-list li {
    padding-bottom: 10px;
    display: block;
    width: 100%; }

.subscription-item-time-left {
  margin-bottom: 0; }

.supernova-subscription-progress-bar {
  border-radius: 5px;
  width: 100%;
  background: #d5d9de;
  height: 10px;
  margin: 5px 0; }

.supernova-subscription-progress {
  border-radius: 5px;
  height: 100%;
  -webkit-animation: progress-bar 2.5s cubic-bezier(0.17, 0.8, 0.33, 0.99);
          animation: progress-bar 2.5s cubic-bezier(0.17, 0.8, 0.33, 0.99); }
  .supernova-subscription-progress.progress-red {
    background: #fa5252; }
  .supernova-subscription-progress.progress-yellow {
    background: #f59f00; }
  .supernova-subscription-progress.progress-green {
    background: #12b886; }

@-webkit-keyframes progress-bar {
  0% {
    width: 0; } }

@keyframes progress-bar {
  0% {
    width: 0; } }

.user-badge-component {
  background-color: #0078d4;
  background-image: linear-gradient(to top, #0078d4, #00bcf2); }

.user-badge-component {
  min-height: 450px;
  width: 100%;
  text-align: center;
  color: #fff;
  position: relative;
  padding: 40px; }

.user-badge-full-name {
  margin-top: 0;
  margin-bottom: 10px; }

.user-badge-email {
  margin-top: 0;
  margin-bottom: 20px; }

.user-badge-avatar,
.user-badge-profile-image .image {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  margin: 0 auto 20px auto;
  background-color: rgba(43, 44, 51, 0.6); }
  .user-badge-avatar.placeholder,
  .user-badge-profile-image .image.placeholder {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
            align-items: center;
    -webkit-justify-content: center;
            justify-content: center; }
  .user-badge-avatar .icon-component,
  .user-badge-profile-image .image .icon-component {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    font-size: 92px; }

.user-badge-change-password {
  margin-top: 40px;
  -webkit-justify-content: center;
          justify-content: center; }
  .user-badge-change-password a:hover {
    text-decoration: underline; }
  .user-badge-change-password.lock .icon-component {
    font-size: 24px;
    position: relative; }

.user-badge-icon {
  font-size: 24px; }
  .user-badge-icon.edit {
    display: none; }
    .user-badge-icon.edit a {
      padding: 10px; }
      .user-badge-icon.edit a:hover {
        background: #2b2c33;
        border-radius: 100px;
        color: white; }
    @media screen and (min-width: 1024px) {
      .user-badge-icon.edit {
        display: inline-block;
        position: absolute;
        right: 30px;
        top: 30px; } }

.oko-banner {
  height: 100%;
  width: 100%;
  background-color: #f2f2f2;
  -webkit-flex-direction: row-reverse;
          flex-direction: row-reverse; }
  @media (max-width: 1024px) {
    .oko-banner {
      text-align: center; } }

.home-subscription-promo {
  background-color: #f2f2f2;
  height: 100%;
  width: 100%;
  padding-bottom: 0; }
  .home-subscription-promo .home-subscription-col-device {
    padding-bottom: 0;
    -webkit-justify-content: flex-end;
            justify-content: flex-end; }
  .home-subscription-promo .home-subscription-device {
    display: block;
    width: 100%;
    margin: 0 auto; }
  @media (max-width: 1024px) {
    .home-subscription-promo {
      text-align: center; } }

.alert-message-component {
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #2b2c33;
  color: white;
  padding: 0.75em 0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08); }
  .alert-message-component .icon-component {
    font-size: 20px;
    color: #f0c01e; }
  .alert-message-component.sticky {
    position: fixed;
    -webkit-animation: slideDown 0.5s cubic-bezier(0.78, 0, 0.22, 1) forwards;
            animation: slideDown 0.5s cubic-bezier(0.78, 0, 0.22, 1) forwards; }

.alert-message-wrapper {
  width: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: space-between;
          justify-content: space-between; }

.alert-message-actions {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
          align-items: center; }
  .alert-message-actions .btn {
    margin: 0 20px; }

@-webkit-keyframes slideDown {
  from {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%); }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@keyframes slideDown {
  from {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%); }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

.switch .slider {
  box-sizing: content-box;
  box-sizing: initial; }

.slider::before {
  left: 2px;
  position: absolute; }

.supernova-vertical-center {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
          justify-content: center; }

.supernova-horizontal-center {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
          align-items: center; }

.supernova-bg-gray-100 {
  background-color: #f2f2f2; }

.supernova-border-radius {
  border-radius: 20px; }
  .supernova-border-radius.no-right-top {
    border-top-right-radius: 0; }
  .supernova-border-radius.no-right-bottom {
    border-bottom-right-radius: 0; }
  .supernova-border-radius.no-left-bottom {
    border-bottom-left-radius: 0; }
  .supernova-border-radius.no-left-top {
    border-top-left-radius: 0; }

.m-bottom-15 {
  margin-bottom: 15px; }

.m-bottom-25 {
  margin-bottom: 25px; }

.no-margin-bottom {
  margin-bottom: 0; }

.no-padding {
  padding: 0 !important; }

.no-padding-left {
  padding-left: 0 !important; }

.supernova-text-blue {
  color: #0078ca; }

.supernova-divider {
  width: 100%;
  display: block;
  border-top: 1px solid #d5d9de;
  margin: 20px 0;
  padding-top: 20px; }

.supernova-underline {
  text-decoration: underline; }
  .supernova-underline a,
  .supernova-underline button {
    text-decoration: underline; }

.supernova-bubble {
  position: relative;
  border: 1px solid #d5d9de;
  border-radius: 0 20px 20px 20px;
  min-height: auto;
  overflow: hidden;
  padding: 40px;
  -webkit-flex-direction: column;
          flex-direction: column;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
          justify-content: space-between; }
  .supernova-bubble.no-min-height {
    height: 100%;
    min-height: auto; }
  @media (min-width: 1024px) {
    .supernova-bubble {
      min-height: 450px; } }

.supernova-bubble-note {
  font-size: 15px;
  font-weight: 500; }
  .supernova-bubble-note * {
    font-size: 15px;
    font-weight: 500; }
  .supernova-bubble-note.note-alert {
    font-weight: 700;
    color: #ec7758; }

.supernova-link {
  cursor: pointer;
  font-weight: 500;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: inline-block; }
  .supernova-link .linkCta {
    font-weight: 500; }

.supernova-small-text {
  line-height: 1.8em; }

.theme-dark *:not(.btn):not(span):not(input) {
  color: #fff; }

