.input-set label.float,
.input-set .input-tip i,
.input-set .success-tip i,
.input-set .error-tip i,
.bui-popup-overlay .login-form-popup .bui-close,
.interested-opration .opration-chage i,
.login-pop .login-pop-close {
    background: url(/img/log/2.0/css/img/sprite.png) no-repeat;
}

.input-set .input-tip,
.input-set .success-tip {
    visibility: hidden;
}

/* header */

.babytree-header-inner {
    padding: 15px 0;
}

#babytree-logo img {
    position: static;
    display: block;
}

.babytree-header-crumbs {
    float: left;
    display: inline;
    height: 30px;
    margin: 25px 0 0 20px;
    padding-left: 20px;
    border-left: 1px solid #e6e6e6;
    line-height: 30px;
    font-size: 18px;
    color: #999;
    font-family: Microsoft yahei;
}

.login-header {
    border-top: 3px solid #50b4e6;
    min-width: 1119px;
}

.login-header .babytree-header-inner {
    width: 1120px;
}

.login-show {
    display: inline;
    float: left;
    width: 583px;
    padding-top: 20px;
    margin-left: 30px;
}

.login-show .login-show-list li {
    display: inline;
    float: left;
    height: 138px;
    margin: 3px;
    overflow: hidden;
}

/* content */

#wrapper.fullrow {
    padding: 50px 0;
    background-color: #cfeefa;
    min-width: 1119px;
}

#wrapper.fullrow .inner {
    width: 1119px;
    margin: 0 auto;
    color: #999;
    zoom: 1;
}

#wrapper.fullrow .inner:after {
    content: "";
    display: table;
    clear: both;
}

#wrapper.fullrow .inner a {
    display: inline-block;
    color: #0cb7e9;
}

#wrapper.fullrow a.inline-link {
    width: 100px;
    height: 34px;
    border-radius: 5px;
    font-size: 18px;
    line-height: 34px;
    background-color: #0cb7e9;
    text-align: center;
    color: #FFF;
}

#wrapper.fullrow a.inline-link:hover {
    text-decoration: none;
    opacity: 0.8;
}

/* login form */

.login-form {
    float: right;
    width: 400px;
}

.login-form h3 {
    position: relative;
    margin-bottom: -15px;
    padding: 30px 0 0 30px;
    font-size: 18px;
    font-weight: normal;
    font-family: Microsoft Yahei;
    color: #0cb7e9;
}

.login-form form p {
    padding: 2px 2px 15px;
    overflow: hidden;
    zoom: 1;
    font-family: Microsoft yahei;
}

.login-content {
    padding: 30px 50px;
    background-color: #FFF;
    zoom: 1;
}

.input-set {
    position: relative;
    width: 100%;
    line-height: 34px;
}

.input-set-center {
    text-align: center;
}

.color-style1 {
    color: #0cb7e9;
}

.color-style2 {
    color: #ff7bc0;
}

.input-set label.float {
    position: absolute;
    left: 10px;
    top: 6px;
    z-index: 2;
    width: 17px;
    height: 21px;
    overflow: hidden;
    text-indent: -9999px;
}

.input-set label.label-num {
    clear: left;
    background-position: 0px -78px;
}

.input-set label.label-press {
    background-position: 0px -99px;
}

.input-set label.label-verify-code {
    background: url(/img/log/2.0/css/img/icon-verify-code.png) no-repeat 50% 50%;
}

.input-set label.static {
    margin: 0 10px;
    color: #666;
}

.input-set select {
    vertical-align: middle;
    margin: 0 .5em;
}

.login-input-text {
    float: left;
    width: 250px;
    height: 20px;
    padding: 6px 5px 6px 40px;
    border: 1px solid #dde6eb;
    background-color: #fff;
    font-size: 14px;
    line-height: 20px;
    color: #999;
}

.login-input-text:focus {
    outline: 1px solid #50b4e6;
    box-shadow: 0 0 3px rgba(168, 218, 243, .5);
}

.login-input-text-error:focus {
    outline: 1px solid #f35c61;
    box-shadow: 0 0 3px rgba(246, 158, 161, .5);
}

.input-set .input-tip {
    position: absolute;
    right: 10px;
    line-height: 30px;
    font-size: 12px;
    color: #0cb7e9;
}

.input-set .input-tip-multi {
    line-height: 15px;
}

.input-set .input-tip i {
    display: inline-block;
    width: 4px;
    height: 12px;
    margin: 0 .5em 0 0;
    overflow: hidden;
    vertical-align: middle;
    background-position: 0 -50px;
}

.error-tip {
    color: #F00;
}

.input-set .success-tip,
.input-set .error-tip {
    position: absolute;
    right: 10px;
    top: 1px;
    z-index: 3;
    line-height: 32px;
    font-size: 12px;
}

.input-set .error-tip i {
    display: inline-block;
    width: 4px;
    height: 12px;
    margin: 0 .5em 0 0;
    overflow: hidden;
    vertical-align: middle;
    background-position: -10px -50px;
}

.verify-code .error-tip {
    right: 98px;
}

.verify-code .verify-code-img {
    position: absolute;
    right: 6px;
    top: 3px;
    z-index: 3;
    width: 88px;
    height: 32px;
}

.input-set .success-tip {
    right: 180px;
}

.input-set .success-tip i {
    display: inline-block;
    width: 13px;
    height: 9px;
    margin: 0 .5em 0 0;
    overflow: hidden;
    vertical-align: middle;
    background-position: -50px -50px;
}

.input-set .strength-indicator {
    position: absolute;
    top: 15px;
    left: 267px;
}

.input-loginname {
    color: #333;
    font-weight: bold;
    font-family: Verdana;
}

.login-form p.login-submit {
    padding: 20px 0 0 95px;
}

.login-form p.login-submit-special {
    padding-left: 0;
}

.btn-normal {
    display: inline-block;
    width: 139px;
    height: 45px;
    border: 0;
    border-radius: 5px;
    padding: 0;
    overflow: hidden;
    background: #0cb7e9;
    font-size: 22px;
    line-height: 40px;
    font-family: Microsoft Yahei;
    color: #FFF !important;
    text-align: center;
    text-decoration: none;
    outline: 0;
    cursor: pointer;
    vertical-align: middle;
}

.btn-normal:hover {
    text-decoration: none;
}

.btn-style-w1 {
    width: 295px;
    background: #ff7bc0;
}

.btn-style-w2 {
    width: 295px;
    background: #0cb7e9;
}

.btn-normal:hover {
    text-decoration: none;
}

input.btn-normal:hover,
button.btn-normal:hover {
    opacity: .8;
}

input.btn-normal:active,
button.btn-normal:active {
    position: relative;
    top: 1px;
    left: 1px;
}

.forgotten {
    display: inline;
    float: right;
}

.sub-register-enter {
    margin-left: 10px;
}

.login-form .login-connect {
    padding: 12px 0 12px 25px;
    background-color: #81d2f1;
    color: #FFF;
}

.login-connect .connect-3rd-login {
    padding: 0;
    margin: 8px 0 0;
    font-size: 0;
    line-height: 1;
    text-align: left;
}

.login-connect .connect-3rd-login a {
    display: inline-block;
    width: 100px;
    height: 30px;
    margin: 0 20px 0 0;
    background-image: url(/img/log/2.0/css/img/login-connect.png);
    background-repeat: no-repeat;
}

.login-connect .connect-3rd-login .qq {
    background-position: -140px 0;
}

.login-connect .connect-3rd-login .sina {
    background-position: -140px -30px;
}

.login-connect .connect-3rd-login .alipay {
    width: 110px;
    background-position: -240px 0;
}

/* signup form */

.signup-form {
    float: left;
    width: 670px;
    background: #fff;
    color: #666;
}

.signup-form form p {
    font-size: 14px;
}

.signup-form .login-content {
    padding: 40px 30px;
}

.signup-form label.float {
    position: static;
    float: left;
    width: 85px;
    height: 32px;
    padding-right: 10px;
    line-height: 32px;
    font-size: 14px;
    text-align: right;
    background: none;
    text-indent: 0;
}

.signup-form p.login-submit {}

.signup-form .login-input-text {
    width: 217px;
    padding: 6px 3px 6px 4px;
}

.signup-form .input-tip,
.signup-form .error-tip {
    width: 271px;
    right: 0;
    padding: 0 0 0 10px;
}

.signup-form .input-tip i,
.signup-form .error-tip i {
    position: absolute;
    left: 0;
    top: 50%;
    margin: -6px 0 0;
}

.signup-form .baby-status label {
    float: left;
    display: inline;
}

.signup-form .baby-status .input-section {
    margin: 0 0 0 1em;
    _margin-top: 7px;
}

.signup-form .auth-code {
    height: 45px;
}

.signup-form .auth-code .login-input-text,
.signup-form .verification-code .login-input-text {
    width: 135px;
    font-weight: bold;
}

.signup-form .auth-code .gt_holder,
.signup-form .auth-code .geetest_holder {
    margin-left: 95px;
}

.signup-form .verification-code .verification-code-txt {
    clear: both;
    float: left;
    width: 305px;
    padding: 15px 0 0 95px;
    color: #c6c6c6;
    font-size: 12px;
    line-height: 1.5;
}

.signup-form .verification-code .bui-button-x {
    display: inline;
    float: left;
    margin: 5px 10px 0 0;
}

.signup-form .name-recommend {
    margin: 0 0 15px 105px;
}

.signup-form .name-recommend dt,
.signup-form .name-recommend dd {
    padding: 3px 0;
}

.signup-form .name-recommend dt {
    color: #666;
}

.signup-form .name-recommend label {
    color: #c6c6c6;
}

.auth-code .placeholder {
    font-weight: normal;
}

.auth-code input:-moz-placeholder {
    font-weight: normal;
}

.auth-code ::-webkit-input-placeholder {
    font-weight: normal;
}

.auth-code .auth-img {
    position: absolute;
    margin: 0 0 0 15px;
    line-height: 1.2;
    font-size: 12px;
}

.auth-code .auth-img img {
    vertical-align: text-top;
    background-color: #EEE;
    margin: 0 .5em 4px 0;
}

.auth-code .success-tip,
.auth-code .error-tip {
    left: 375px;
    right: auto;
    top: 15px;
}

.mobile-num .mobile-auth {
    margin: 0 0 0 10px;
}

.mobile-num .error-tip {
    width: 120px;
}

.signup-related {
    width: 400px;
    float: right;
    padding-top: 115px;
}

.signup-related p {
    margin: 0 0 1em;
    font-size: 14px;
    color: #666;
}

.signup-related .inline-link {
    margin-left: 10px;
}

.signup-related .login-connect {
    margin-top: 20px;
}

.signup-related .login-connect p {
    font-size: 12px;
    color: #999;
}

.signup-related .login-connect a {
    width: 100px;
}

.signup-related .login-connect .qq {
    background-position: -140px 0;
}

.signup-related .login-connect .sina {
    background-position: -140px -30px;
}

/* login popup */

.login-form-popup {
    background-color: #FFF;
}

.login-form-popup a {
    color: #0cb7e9;
}

.login-form-popup .login-form {
    display: block;
    float: none;
    margin: 0;
}

.bui-popup-overlay .login-form-popup .bui-close {
    width: 20px;
    height: 20px;
    background-position: -20px -50px;
}

.login-form-popup .signup-form .policy {
    float: right;
    margin: 12px 0 0;
}

/* add */

.validate-other {
    margin-top: 45px;
    padding-top: 15px;
    border-top: 1px solid #f1f1f1;
    font-family: Microsoft yahei;
}

.validate-related {
    float: right;
    width: 400px;
    padding-top: 45px;
    font-family: Microsoft yahei;
}

.validate-related dl {
    line-height: 30px;
}

.validate-related dt {
    font-size: 14px;
    font-weight: bold;
    color: #666;
}

.validate-related .auto-content {
    display: none;
    position: relative;
    left: -15px;
    padding: 15px;
    width: 220px;
    background-color: #FFF;
    border-radius: 2px;
}

.validate-related p {
    margin-bottom: 5px;
}

.validate-related .btn-normal {
    width: 75px;
    height: 23px;
    line-height: 23px;
    border-radius: 2px;
    font-size: 12px;
}

.interested-box {
    padding: 25px 0 40px;
    background: #fff;
    font-family: Microsoft yahei;
}

.interested-box .interested-tit {
    padding: 0 35px;
    overflow: hidden;
    zoom: 1;
}

.interested-box .interested-tit h4 {
    float: left;
    font-weight: normal;
    font-size: 14px;
}

.interested-box .interested-tit .interested-opration {
    float: right;
}

.interested-opration .opration-chage {
    margin-right: 40px;
}

.interested-opration .opration-chage i {
    display: inline-block;
    width: 14px;
    height: 13px;
    margin-right: 5px;
    background-position: 0 -127px;
    vertical-align: middle;
    overflow: hidden;
}

.list-interested {
    padding: 0 0 50px 37px;
    overflow: hidden;
    zoom: 1;
}

.list-interested li {
    position: relative;
    display: inline;
    float: left;
    margin: 20px 12px 0 0;
    width: 200px;
    height: 140px;
    background: #f7f7f7;
}

.list-interested .user-img,
.list-interested .user-name,
.list-interested .input-cb,
.list-interested .info-other,
.list-interested .user-history {
    position: absolute;
}

.list-interested .input-cb {
    right: 12px;
    top: 12px;
}

.list-interested .user-img {
    left: 15px;
    top: 15px;
    width: 70px;
    height: 70px;
    border-radius: 70px;
}

.list-interested .user-name {
    top: 18px;
    right: 25px;
    width: 65px;
    color: #666;
}

.list-interested .info-other {
    top: 58px;
    right: 10px;
    width: 80px;
}

.list-interested .info-other .user-followers {
    color: #666;
}

.list-interested .user-history {
    left: 0;
    bottom: 0;
    width: 200px;
    height: 30px;
    background: #0cb7e9;
}

.list-interested .user-history p {
    margin: 0 15px;
    color: #fff;
    line-height: 30px;
}

.list-interested .user-history a {
    color: #fff;
}

.interested-box .btn-box {
    text-align: center;
}

.interested-box .btn-box .btn-normal {
    width: 220px;
    margin-left: 20px;
    background: #ff7bc0;
}

.login-pop {
    margin-top: -50px;
    margin-bottom: 20px;
    position: relative;
    background: #f7f7f7;
}

.login-pop .login-pop-close {
    position: absolute;
    top: 10px;
    right: 13px;
    width: 20px;
    height: 20px;
    background-position: -20px -50px;
    text-indent: -9999px;
    overflow: hidden;
}

.login-pop .login-pop-close:hover {
    opacity: .8;
}

.login-pop .login-pop-inner {
    padding: 5px 35px;
    font-size: 14px;
}

.login-pop p,
.login-pop form {
    display: inline;
}

.login-pop p {
    line-height: 2;
}

.login-pop .btn-normal {
    width: 75px;
    height: 23px;
    line-height: 23px;
    border-radius: 2px;
    font-size: 14px;
}

.login-pop .btn-box {
    padding: 20px 0;
    text-align: center;
}

.babyree-protocol {
    margin: 10px 0 10px 95px;
}

.babytree-agreement {
    position: relative;
    display: block;
    width: 60%;
    margin: 30px auto 100px;
    padding: 20px 50px 50px;
}

.babytree-agreement h1,
.babytree-agreement h2 {
    margin: 1em 0;
    font-family: Microsoft Yahei;
    color: #333;
}

.babytree-agreement h1 {
    padding: 0 0 .5em;
    font-size: 32px;
    text-align: center;
    border-bottom: 1px dotted #999;
}

.babytree-agreement h2 {
    font-size: 18px;
}

.babytree-agreement p,
.babytree-agreement li {
    font-size: 14px;
    line-height: 1.8;
}

.babytree-agreement .bui-close {
    top: 20px;
    right: 20px;
}

.login-form h3 {
    display: none;
}

.login-form-popup .login-form h3 {
    display: block;
    position: static;
    margin-bottom: 15px;
    padding: 0;
}

/* ask autosave */

.login-form-popup .autosave {
    padding: 15px 30px 0;
}

.login-form-popup .autosave dt {
    font-size: 14px;
    font-weight: bold;
    margin: 0 0 8px;
}

.login-form-popup .autosave dd {
    position: relative;
    background-color: #FFEFBF;
    color: #999;
    padding: 4px 10px;
}

.login-form-popup .autosave dd p {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.login-form-popup .autosave .peak {
    width: 8px;
    height: 8px;
    overflow: hidden;
    background: transparent url(/img/wisdom/wisdom-login-sprite.png?20130722) no-repeat -140px 0;
    position: absolute;
    left: 15px;
    top: -8px;
}

/* ask autosave end */

/* 201410-success*/

.signin-201410-done {
    width: 700px;
    padding: 30px 0;
    margin: 0 auto 30px;
    font-family: Arial, Microsoft YaHei, Hiragino Sans GB, sans-serif;
    background-color: #F4EBCA;
}

.signin-201410-done .indent {
    padding: 0 140px;
}

.signin-201410-done .tip-success {
    margin: 0 0 10px;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    text-align: left;
}

.signin-201410-done .ico-success {
    display: inline-block;
    width: 81px;
    height: 63px;
    margin: 0 10px 0 -10px;
    vertical-align: middle;
    background: transparent url(/img/mybabytree_v2/common/tick-large.png) no-repeat;
}

.signin-201410-done .msg {
    font-size: 14px;
    font-weight: bold;
    color: #333;
    line-height: 2;
}

.signin-201410-done .msg em {
    color: #E2373D;
}

.signin-201410-done .app {
    display: block;
    margin: 20px 0 0;
    text-align: center;
}

/*20150416*/

.login-ad {
    float: left;
    width: 578px;
    overflow: hidden;
}

.login-ad img {
    width: 578px;
    height: 283px;
}

.signup-ad {
    width: 356px;
    overflow: hidden;
}

.signup-ad img {
    width: 356px;
    height: 174px;
}

.signup-related p {
    margin-top: 20px;
}

/*隐私协议*/

#privacy {
    margin-top: 12px;
    font-size: 12px;
}

#privacy span {
    color: #666;
}

.login-form #privacy span {
    color: #fff;
}

#wrapper #privacy a {
    color: #126BD4;
    ;
}