:root .RebrandMedia {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    align-items: center
}

@media only screen and (max-width: 767px) {
    :root .RebrandMedia {
        align-items: flex-start
    }
}

:root .RebrandMedia-container,
:root .RebrandMedia-container.ob-grid-container {
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    align-items: center;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 200px 0
}

:root .RebrandMedia-container.reversedLayout,
:root .RebrandMedia-container.ob-grid-container.reversedLayout {
    flex-direction: row-reverse
}

@media only screen and (max-width: 1023px) {
    :root .RebrandMedia-container.reversedLayout,
    :root .RebrandMedia-container.ob-grid-container.reversedLayout {
        flex-direction: column
    }
}

@media only screen and (max-width: 1023px) {
    :root .RebrandMedia-container,
    :root .RebrandMedia-container.ob-grid-container {
        flex-direction: column;
        align-content: flex-start;
        align-items: flex-start;
        margin: 140px auto 100px;
        flex: 0 0 auto;
        padding: 0
    }
}

@media only screen and (max-width: 767px) {
    :root .RebrandMedia-container,
    :root .RebrandMedia-container.ob-grid-container {
        align-items: flex-start;
        flex: 1 0 auto;
        margin-bottom: 0;
        padding: 0
    }
}

:root .RebrandMedia-text--header {
    margin-bottom: 20px
}

:root .RebrandMedia-text--body {
    margin-bottom: 0
}

@media only screen and (max-width: 1023px) {
    :root .RebrandMedia-text--body {
        margin-bottom: 20px
    }
}

:root .RebrandMedia-text .ob-button {
    margin-top: 50px
}

@media only screen and (max-width: 1023px) {
    :root .RebrandMedia-text .ob-button {
        margin-top: 0;
        margin-bottom: 20px
    }
}

@media only screen and (max-width: 1023px) {
    :root .RebrandMedia-media-container {
        margin-top: 30px
    }
}

:root .RebrandMedia-media--video,
:root .RebrandMedia-media--image,
:root .RebrandMedia-media--picture {
    width: 100%;
    height: auto;
    display: block;
    z-index: 1;
    flex: none
}

:root .RebrandMedia-media--picture {
    display: none
}

@media only screen and (max-width: 767px) {
    :root .RebrandMedia-media--picture {
        display: block
    }
}

:root .RebrandMedia-media .video-wrapper {
    position: relative;
    padding-bottom: 62%;
    padding-top: 0;
    height: 0
}

:root .RebrandMedia-media .video-wrapper .inline-video__wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0
}

@media only screen and (max-width: 767px) {
    :root .RebrandMedia-media .video-wrapper {
        display: none
    }
}

.RebrandMedia__theme-collaborate {
    background: #ffafa2
}

.RebrandMedia__theme-collaborate .RebrandMedia-text--headline {
    color: #0d2481
}

.RebrandMedia__theme-collaborate .RebrandMedia-text--body {
    color: #000
}

.RebrandMedia__theme-create {
    background: #005744
}

.RebrandMedia__theme-create .RebrandMedia-text--headline {
    color: #ffd830
}

.RebrandMedia__theme-create .RebrandMedia-text--body {
    color: #fff
}

.RebrandMedia__theme-chaos {
    background: #61082b
}

.RebrandMedia__theme-chaos .RebrandMedia-text--headline {
    color: #b4d0e7
}

.RebrandMedia__theme-chaos .RebrandMedia-text--body {
    color: #b4d0e7
}