@-webkit-keyframes transition {
    0% {
        transform: translateY(-62px)
    }
    85% {
        transform: translateY(0)
    }
    100% {
        transform: translateY(0)
    }
}

@keyframes transition {
    0% {
        transform: translateY(-62px)
    }
    85% {
        transform: translateY(0)
    }
    100% {
        transform: translateY(0)
    }
}

.zeus-arrow-button {
    width: 40px;
    height: 60px;
    -webkit-appearance: none;
    border: 0;
    background-color: transparent;
    cursor: pointer
}

.zeus-arrow-button svg {
    margin: 12px 0;
    transform: translateY(-62px)
}

@media (prefers-reduced-motion: no-preference) {
    .zeus-arrow-button svg {
        -webkit-animation: transition 2s cubic-bezier(0.15, 1, 0.75, 1) 1s infinite;
        animation: transition 2s cubic-bezier(0.15, 1, 0.75, 1) 1s infinite
    }
}

@media (prefers-reduced-motion: no-preference) {
    .zeus-arrow-button.zeus-arrow-button__pause svg {
        -webkit-animation: none;
        animation: none
    }
}