.gb_b.gb_b {
    -webkit-background-size: 64px 64px;
    background-size: 64px 64px
}

#gb2 .gb_b {
    background-image: url('//ssl.gstatic.com/gb/images/a/3a1e625196.png')
}

.gb_c #gb2 .gb_b::before {
    content: url('//ssl.gstatic.com/gb/images/a/3a1e625196.png')
}

#gb22 .gb_b {
    background-image: url('//ssl.gstatic.com/gb/images/a/3daf4c1f88.png')
}

.gb_c #gb22 .gb_b::before {
    content: url('//ssl.gstatic.com/gb/images/a/3daf4c1f88.png')
}

#gb45 .gb_b {
    background-image: url('//ssl.gstatic.com/gb/images/a/f420d06f66.png')
}

.gb_c #gb45 .gb_b::before {
    content: url('//ssl.gstatic.com/gb/images/a/f420d06f66.png')
}

#gb72 .gb_b {
    background-image: url('//ssl.gstatic.com/gb/images/a/28a40ba7cc.png')
}

.gb_c #gb72 .gb_b::before {
    content: url('//ssl.gstatic.com/gb/images/a/28a40ba7cc.png')
}

#gb117 .gb_b {
    background-image: url('//ssl.gstatic.com/gb/images/a/142da27578.png')
}

.gb_c #gb117 .gb_b::before {
    content: url('//ssl.gstatic.com/gb/images/a/142da27578.png')
}

#gb136 .gb_b {
    background-image: url('//ssl.gstatic.com/gb/images/a/911e3628e6.png')
}

.gb_c #gb136 .gb_b::before {
    content: url('//ssl.gstatic.com/gb/images/a/911e3628e6.png')
}

#gb166 .gb_b {
    background-image: url('//ssl.gstatic.com/gb/images/a/41679a9ec5.png')
}

.gb_c #gb166 .gb_b::before {
    content: url('//ssl.gstatic.com/gb/images/a/41679a9ec5.png')
}

#gb171 .gb_b {
    background-image: url('//ssl.gstatic.com/gb/images/a/4244245d7e.png')
}

.gb_c #gb171 .gb_b::before {
    content: url('//ssl.gstatic.com/gb/images/a/4244245d7e.png')
}

#gb177 .gb_b {
    background-image: url('//ssl.gstatic.com/gb/images/a/4653513b7d.png')
}

.gb_c #gb177 .gb_b::before {
    content: url('//ssl.gstatic.com/gb/images/a/4653513b7d.png')
}

#gb206 .gb_b {
    background-image: url('//ssl.gstatic.com/gb/images/a/ad330d8459.png')
}

.gb_c #gb206 .gb_b::before {
    content: url('//ssl.gstatic.com/gb/images/a/ad330d8459.png')
}

#gb207 .gb_b {
    background-image: url('//ssl.gstatic.com/gb/images/a/2c21041e16.png')
}

.gb_c #gb207 .gb_b::before {
    content: url('//ssl.gstatic.com/gb/images/a/2c21041e16.png')
}

#gb211 .gb_b {
    background-image: url('//ssl.gstatic.com/gb/images/a/c03dda0b34.png')
}

.gb_c #gb211 .gb_b::before {
    content: url('//ssl.gstatic.com/gb/images/a/c03dda0b34.png')
}

#gb217 .gb_b {
    background-image: url('//ssl.gstatic.com/gb/images/a/71060be5b3.png')
}

.gb_c #gb217 .gb_b::before {
    content: url('//ssl.gstatic.com/gb/images/a/71060be5b3.png')
}

#gb228 .gb_b {
    background-image: url('//ssl.gstatic.com/gb/images/a/74aa55e0c2.png')
}

.gb_c #gb228 .gb_b::before {
    content: url('//ssl.gstatic.com/gb/images/a/74aa55e0c2.png')
}

#gb249 .gb_b {
    background-image: url('//ssl.gstatic.com/gb/images/a/afa40f6e42.png')
}

.gb_c #gb249 .gb_b::before {
    content: url('//ssl.gstatic.com/gb/images/a/afa40f6e42.png')
}

#gb260 .gb_b {
    background-image: url('//ssl.gstatic.com/gb/images/a/ea554714e7.png')
}

.gb_c #gb260 .gb_b::before {
    content: url('//ssl.gstatic.com/gb/images/a/ea554714e7.png')
}

#gb261 .gb_b {
    background-image: url('//ssl.gstatic.com/gb/images/a/0b26f6f8e4.png')
}

.gb_c #gb261 .gb_b::before {
    content: url('//ssl.gstatic.com/gb/images/a/0b26f6f8e4.png')
}

#gb108 .gb_b {
    background-image: url('//ssl.gstatic.com/gb/images/a/dfbeb24785.png')
}

.gb_c #gb108 .gb_b::before {
    content: url('//ssl.gstatic.com/gb/images/a/dfbeb24785.png')
}

#gb60 .gb_b {
    background-image: url('//ssl.gstatic.com/gb/images/a/85bb99a341.png')
}

.gb_c #gb60 .gb_b::before {
    content: url('//ssl.gstatic.com/gb/images/a/85bb99a341.png')
}

#gb175 .gb_b {
    background-image: url('//ssl.gstatic.com/gb/images/a/eacd033c28.png')
}

.gb_c #gb175 .gb_b::before {
    content: url('//ssl.gstatic.com/gb/images/a/eacd033c28.png')
}

@media (min-resolution:1.25dppx),
(-webkit-min-device-pixel-ratio:1.25),
(min-device-pixel-ratio:1.25) {
    #gb2 .gb_b {
        background-image: url('//ssl.gstatic.com/gb/images/a/438087d3df.png')
    }
    .gb_c #gb2 .gb_b::before {
        content: url('//ssl.gstatic.com/gb/images/a/438087d3df.png')
    }
    #gb22 .gb_b {
        background-image: url('//ssl.gstatic.com/gb/images/a/cfa67efcd3.png')
    }
    .gb_c #gb22 .gb_b::before {
        content: url('//ssl.gstatic.com/gb/images/a/cfa67efcd3.png')
    }
    #gb45 .gb_b {
        background-image: url('//ssl.gstatic.com/gb/images/a/9c561d4392.png')
    }
    .gb_c #gb45 .gb_b::before {
        content: url('//ssl.gstatic.com/gb/images/a/9c561d4392.png')
    }
    #gb72 .gb_b {
        background-image: url('//ssl.gstatic.com/gb/images/a/cfa4e2be67.png')
    }
    .gb_c #gb72 .gb_b::before {
        content: url('//ssl.gstatic.com/gb/images/a/cfa4e2be67.png')
    }
    #gb117 .gb_b {
        background-image: url('//ssl.gstatic.com/gb/images/a/e3cbb9b858.png')
    }
    .gb_c #gb117 .gb_b::before {
        content: url('//ssl.gstatic.com/gb/images/a/e3cbb9b858.png')
    }
    #gb136 .gb_b {
        background-image: url('//ssl.gstatic.com/gb/images/a/17bdcddea9.png')
    }
    .gb_c #gb136 .gb_b::before {
        content: url('//ssl.gstatic.com/gb/images/a/17bdcddea9.png')
    }
    #gb166 .gb_b {
        background-image: url('//ssl.gstatic.com/gb/images/a/be3fe52205.png')
    }
    .gb_c #gb166 .gb_b::before {
        content: url('//ssl.gstatic.com/gb/images/a/be3fe52205.png')
    }
    #gb171 .gb_b {
        background-image: url('//ssl.gstatic.com/gb/images/a/1b217ae532.png')
    }
    .gb_c #gb171 .gb_b::before {
        content: url('//ssl.gstatic.com/gb/images/a/1b217ae532.png')
    }
    #gb177 .gb_b {
        background-image: url('//ssl.gstatic.com/gb/images/a/188f0d697b.png')
    }
    .gb_c #gb177 .gb_b::before {
        content: url('//ssl.gstatic.com/gb/images/a/188f0d697b.png')
    }
    #gb206 .gb_b {
        background-image: url('//ssl.gstatic.com/gb/images/a/20808fb750.png')
    }
    .gb_c #gb206 .gb_b::before {
        content: url('//ssl.gstatic.com/gb/images/a/20808fb750.png')
    }
    #gb207 .gb_b {
        background-image: url('//ssl.gstatic.com/gb/images/a/6d9eaee7f9.png')
    }
    .gb_c #gb207 .gb_b::before {
        content: url('//ssl.gstatic.com/gb/images/a/6d9eaee7f9.png')
    }
    #gb211 .gb_b {
        background-image: url('//ssl.gstatic.com/gb/images/a/2d7fffa981.png')
    }
    .gb_c #gb211 .gb_b::before {
        content: url('//ssl.gstatic.com/gb/images/a/2d7fffa981.png')
    }
    #gb217 .gb_b {
        background-image: url('//ssl.gstatic.com/gb/images/a/e2c0b463b4.png')
    }
    .gb_c #gb217 .gb_b::before {
        content: url('//ssl.gstatic.com/gb/images/a/e2c0b463b4.png')
    }
    #gb228 .gb_b {
        background-image: url('//ssl.gstatic.com/gb/images/a/fe8c881457.png')
    }
    .gb_c #gb228 .gb_b::before {
        content: url('//ssl.gstatic.com/gb/images/a/fe8c881457.png')
    }
    #gb249 .gb_b {
        background-image: url('//ssl.gstatic.com/gb/images/a/d54db42004.png')
    }
    .gb_c #gb249 .gb_b::before {
        content: url('//ssl.gstatic.com/gb/images/a/d54db42004.png')
    }
    #gb260 .gb_b {
        background-image: url('//ssl.gstatic.com/gb/images/a/99be7c5086.png')
    }
    .gb_c #gb260 .gb_b::before {
        content: url('//ssl.gstatic.com/gb/images/a/99be7c5086.png')
    }
    #gb261 .gb_b {
        background-image: url('//ssl.gstatic.com/gb/images/a/9001dae971.png')
    }
    .gb_c #gb261 .gb_b::before {
        content: url('//ssl.gstatic.com/gb/images/a/9001dae971.png')
    }
    #gb108 .gb_b {
        background-image: url('//ssl.gstatic.com/gb/images/a/ca7b209615.png')
    }
    .gb_c #gb108 .gb_b::before {
        content: url('//ssl.gstatic.com/gb/images/a/ca7b209615.png')
    }
    #gb60 .gb_b {
        background-image: url('//ssl.gstatic.com/gb/images/a/e000432278.png')
    }
    .gb_c #gb60 .gb_b::before {
        content: url('//ssl.gstatic.com/gb/images/a/e000432278.png')
    }
    #gb175 .gb_b {
        background-image: url('//ssl.gstatic.com/gb/images/a/84d52a8885.png')
    }
    .gb_c #gb175 .gb_b::before {
        content: url('//ssl.gstatic.com/gb/images/a/84d52a8885.png')
    }
}

#gb#gb a.gb_d,
#gb#gb a.gb_e,
#gb#gb span.gb_e {
    color: rgba(0, 0, 0, 0.87);
    text-decoration: none
}

#gb#gb a.gb_e:hover,
#gb#gb a.gb_e:focus {
    opacity: .85;
    text-decoration: underline
}

.gb_f.gb_g {
    display: none;
    padding-left: 0;
    vertical-align: middle
}

.gb_f.gb_g:first-child {
    padding-left: 0
}

.gb_f .gb_e {
    display: inline-block;
    line-height: 24px;
    outline: none;
    vertical-align: middle
}

#gb#gb.gb_h a.gb_e,
#gb#gb.gb_h span.gb_e,
#gb#gb .gb_h a.gb_e,
#gb#gb .gb_h span.gb_e {
    color: #fff
}

#gb#gb.gb_h span.gb_e,
#gb#gb .gb_h span.gb_e {
    opacity: .7
}

.gb_i {
    padding: 1px;
    display: inline-block;
    vertical-align: top;
    color: black;
    z-index: 999;
    height: 98px;
    width: 86px
}

.gb_j.gb_i {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 100px;
    width: 100px;
    padding: 1px 7px 1px 7px
}

.gb_i a {
    text-decoration: none
}

.gb_j.gb_i a {
    border: 1px solid transparent
}

.gb_i[aria-grabbed=true] {
    visibility: hidden
}

.gb_i:hover {
    z-index: 1001
}

.gb_i:hover a {
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 2px;
    border-radius: 2px
}

.gb_i:not(.gb_j):hover a {
    margin: 7px 1px
}

.gb_j.gb_i:hover a {
    background: #f6fafe !important;
    background-color: rgba(26, 115, 232, 0.04);
    -webkit-border-radius: 8px;
    border-radius: 8px;
    border-color: transparent;
    overflow: hidden
}

.gb_j.gb_i:active a,
.gb_j.gb_i:focus:active a {
    background: #e8f0fd !important;
    background-color: rgba(66, 133, 244, 0.12);
    -webkit-border-radius: 8px;
    border-radius: 8px
}

.gb_i.gb_k a {
    border: 1px solid #e5e5e5;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    background: #fff;
    cursor: -webkit-grabbing;
    margin: -1px;
    visibility: visible;
    z-index: 1001
}

.gb_j.gb_i.gb_k a {
    background-color: #ffffff;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
    opacity: .8
}

.gb_l {
    opacity: .5
}

.gb_i.gb_k a {
    color: rgba(0, 0, 0, 0.87) !important;
    cursor: -webkit-grabbing;
    font: 13px/27px Arial, sans-serif;
    text-decoration: none !important
}

.gb_d {
    color: rgba(0, 0, 0, 0.87);
    display: inline-block;
    font-size: 13px;
    margin: 8px 2px;
    text-align: center;
    outline: none
}

.gb_j.gb_m.gb_n .gb_d,
.gb_j.gb_m.gb_o .gb_d {
    top: 8px
}

.gb_d[draggable=false] {
    -webkit-user-select: none
}

.gb_d .gb_p,
.gb_d .gb_b {
    display: inline-block;
    vertical-align: top;
    height: 64px;
    width: 64px
}

.gb_d .gb_q {
    -webkit-background-size: 64px;
    background-size: 64px;
    display: inline-block;
    height: 64px;
    vertical-align: top;
    width: 64px
}

.gb_r {
    display: block;
    line-height: 20px;
    overflow: hidden;
    white-space: nowrap;
    width: 84px;
    text-overflow: ellipsis
}

.gb_i.gb_j .gb_r {
    font-family: 'Google Sans', Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    font-size: 14px;
    letter-spacing: .09px;
    line-height: 16px;
    margin-bottom: 4px;
    margin-left: 4px;
    width: 76px
}

.gb_i.gb_j>.gb_d {
    width: 84px
}

.gb_i:hover .gb_d,
.gb_s .gb_j.gb_i .gb_d:focus,
.gb_j.gb_i .gb_d:active {
    z-index: 1
}

.gb_i:not(.gb_j):hover .gb_r {
    background: rgba(255, 255, 255, .9)
}

.gb_i:hover .gb_r,
.gb_s .gb_j.gb_i>.gb_d:focus .gb_r,
.gb_j.gb_i>.gb_d:active .gb_r {
    white-space: normal;
    overflow-wrap: break-word;
    word-wrap: break-word
}

.gb_d .gb_p {
    background-image: url('https://ssl.gstatic.com/gb/images/p1_6234ef59.png');
    -webkit-background-size: 64px 2686px;
    background-size: 64px 2686px
}

.gb_c .gb_d .gb_p {
    background-image: none;
    overflow: hidden;
    position: relative
}

.gb_c .gb_d .gb_p::before {
    content: url('https://ssl.gstatic.com/gb/images/p1_6234ef59.png');
    position: absolute
}

.gb_c .gb_b {
    background-image: none !important;
    position: relative
}

.gb_c .gb_b::before {
    left: 0;
    position: absolute;
    top: 0
}

@media (min-resolution:1.25dppx),
(-webkit-min-device-pixel-ratio:1.25),
(min-device-pixel-ratio:1.25) {
    .gb_d .gb_p {
        background-image: url('https://ssl.gstatic.com/gb/images/p2_547d5a41.png')
    }
    .gb_c .gb_d .gb_p::before {
        content: url('https://ssl.gstatic.com/gb/images/p2_547d5a41.png');
        -webkit-transform: scale(.5);
        transform: scale(.5);
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0
    }
    .gb_c .gb_d .gb_b::before {
        -webkit-transform: scale(.5);
        transform: scale(.5);
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0
    }
}

.gb_s .gb_d:focus,
#gb#gb .gb_s a.gb_d:focus {
    text-decoration: underline
}

.gb_s .gb_j .gb_d:focus,
#gb#gb .gb_s .gb_j a.gb_d:focus,
.gb_s .gb_j .gb_d:hover:focus,
#gb#gb .gb_s .gb_j a.gb_d:hover:focus {
    background: #ecf2fd !important;
    background-color: rgba(66, 133, 244, 0.1);
    -webkit-border-radius: 8px;
    border-radius: 8px;
    text-decoration: none
}

.gb_i[aria-grabbed=true].gb_t {
    visibility: visible
}

.gb_u,
.gb_v {
    position: relative;
    top: 27px;
    visibility: hidden
}

.gb_w,
.gb_x {
    left: 37px;
    visibility: hidden
}

.gb_u {
    float: left;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 5px solid #4273db
}

.gb_v {
    float: right;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #4273db
}

.gb_w {
    position: absolute;
    top: 0;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #4273db
}

.gb_x {
    position: absolute;
    top: 59px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #4273db
}

ul.gb_y li.gb_t:not(:first-child) .gb_u,
ul.gb_y li.gb_t:not(:nth-child(-n+3)) .gb_w,
ul.gb_y li.gb_t .gb_v,
ul.gb_y li.gb_t .gb_x,
ul.gb_z li.gb_t .gb_u,
ul.gb_z li.gb_t .gb_w,
ul.gb_z li.gb_t:not(:last-child) .gb_v,
ul.gb_z li.gb_t:not(:nth-last-child(-n+3)) .gb_x {
    visibility: visible
}

.gb_D.gb_E {
    min-height: 192px;
    overflow-y: auto;
    width: 316px
}

.gb_D.gb_E.gb_j {
    -webkit-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 2px 6px 2px rgba(60, 64, 67, .15);
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 2px 6px 2px rgba(60, 64, 67, .15);
    width: 328px
}

.gb_F {
    -webkit-transition: height .2s ease-in-out;
    transition: height .2s ease-in-out
}

.gb_H {
    background: #fff;
    margin: 0;
    padding: 26px;
    padding-right: 25px;
    text-align: left;
    white-space: normal;
    width: 265px
}

.gb_H:not(.gb_j) {
    min-height: 100px
}

.gb_E.gb_j>.gb_H {
    padding: 12px 14px 20px 14px;
    width: 300px
}

.gb_I {
    background: #f5f5f5;
    cursor: pointer;
    height: 40px;
    overflow: hidden
}

.gb_J {
    position: relative
}

.gb_I {
    display: block;
    line-height: 40px;
    text-align: center;
    width: 316px
}

.gb_J {
    display: block;
    line-height: 40px;
    text-align: center
}

.gb_J.gb_K {
    line-height: 0
}

.gb_I,
.gb_I:visited,
.gb_I:active,
.gb_J,
.gb_J:visited {
    color: rgba(0, 0, 0, 0.87);
    text-decoration: none
}

.gb_J:active {
    color: rgba(0, 0, 0, 0.87)
}

#gb a.gb_I,
#gb a.gb_I:visited,
#gb a.gb_I:active,
#gb a.gb_J,
#gb a.gb_J:visited {
    color: rgba(0, 0, 0, 0.87);
    text-decoration: none
}

#gb a.gb_J:active {
    color: rgba(0, 0, 0, 0.87)
}

.gb_J:not(.gb_j),
.gb_H:not(.gb_j) {
    display: none
}

.gb_y,
.gb_H.gb_y:not(.gb_j),
.gb_y+.gb_J,
.gb_L .gb_J,
.gb_L .gb_H {
    display: block
}

.gb_j .gb_M,
.gb_j .gb_N,
.gb_L .gb_M,
.gb_L .gb_N {
    display: inline-block
}

.gb_J:hover,
.gb_J:active,
#gb a.gb_J:hover,
#gb a.gb_J:active {
    text-decoration: underline
}

.gb_J {
    border-bottom: 1px solid #ebebeb;
    left: 26px;
    width: 264px
}

.gb_j .gb_J {
    border-bottom: 1px solid #e8eaed;
    left: 0;
    width: 328px
}

a.gb_M,
a.gb_N {
    background-color: #ffffff;
    border: 1px solid #dadce0;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #1a73e8;
    font: 500 14px/16px Google Sans, Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    left: 50%;
    margin: 16px 0 18px 0;
    max-width: 264px;
    outline: none;
    overflow: hidden;
    padding: 10px 24px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    white-space: nowrap
}

a.gb_M:visited,
a.gb_N:visited {
    color: #1a73e8
}

.gb_N:hover,
.gb_M:hover {
    background-color: #f8fbff;
    border-color: #cce0fc;
    text-decoration: none
}

.gb_N:focus,
.gb_N:hover:focus,
.gb_M:focus,
.gb_M:hover:focus {
    background-color: #f4f8ff;
    border-color: #c9ddfc
}

.gb_N:active,
.gb_N:active:focus,
.gb_M:active,
.gb_M:active:focus {
    background-color: #ecf3fe;
    border-color: transparent;
    -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 2px 6px 2px rgba(60, 64, 67, 0.15);
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 2px 6px 2px rgba(60, 64, 67, 0.15);
    text-decoration: none
}

.gb_L .gb_I {
    display: none
}

.gb_J:last-child {
    border-bottom-width: 0
}

.gb_m .gb_d {
    display: initial
}

.gb_m.gb_O {
    height: 100px;
    text-align: center
}

.gb_m.gb_O img {
    padding: 34px 0;
    height: 32px;
    width: 32px
}

.gb_m .gb_p+img {
    border: 0;
    margin: 8px;
    height: 48px;
    width: 48px
}

.gb_m div.gb_P {
    background: #ffa;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 5px;
    text-align: center
}

.gb_j.gb_m.gb_Q,
.gb_j.gb_m.gb_n,
.gb_m.gb_Q,
.gb_m.gb_n {
    padding-bottom: 0
}

.gb_j.gb_m.gb_o,
.gb_j.gb_m.gb_n,
.gb_m.gb_o,
.gb_m.gb_n {
    padding-top: 0
}

.gb_m.gb_n a,
.gb_m.gb_o a {
    top: 0
}

.gb_R .gb_I {
    margin-top: 0;
    position: static
}

.gb_S {
    display: inline-block
}

.gb_T:hover,
#gb#gb .gb_T:hover {
    text-decoration: underline
}

.gb_U .gb_H {
    position: relative
}

.gb_U .gb_j>.gb_d {
    top: 20px;
    left: 20px
}

.gb_U .gb_d {
    position: absolute;
    top: 26px;
    left: 26px
}

.gb_I.gb_V {
    display: none;
    height: 0
}

sentinel {}