var nunjucks = require("nunjucks/browser/nunjucks-slim");
var env;
if (!nunjucks.currentEnv){
	env = nunjucks.currentEnv = new nunjucks.Environment([], undefined);
} else {
	env = nunjucks.currentEnv;
}
var dependencies = nunjucks.webpackDependencies || (nunjucks.webpackDependencies = {});
dependencies["./_feed-share-button.html"] = require( "./_feed-share-button.html" );




var shim = require("/usr/lib/node_modules/@buzzfeed/fe-build-tools/node_modules/@buzzfeed/nunjucks-loader/runtime-shim");


(function() {(nunjucks.nunjucksPrecompiled = nunjucks.nunjucksPrecompiled || {})["app/static/components/homepage/share/_feed-card-share.html"] = (function() {
function root(env, context, frame, runtime, cb) {
var lineno = null;
var colno = null;
var output = "";
try {
var parentTemplate = null;
output += "\n<div class=\"clearfix xs-relative card-share--right\" data-bfa=\"@l:Share;\">\n    <div class=\"action-bar-desktop xs-inline-block xs-mr1\" data-module=\"action-bar-desktop\">\n        <script type=\"text/x-config\">\n              {\n                  \"position\": \"top\",\n                  \"cardId\": ";
output += runtime.suppressValue(runtime.contextOrFrameLookup(context, frame, "id"), env.opts.autoescape);
output += "\n              }\n            </script>\n        ";
frame = frame.push();
var t_3 = runtime.contextOrFrameLookup(context, frame, "platforms");
if(t_3) {var t_2 = t_3.length;
for(var t_1=0; t_1 < t_3.length; t_1++) {
var t_4 = t_3[t_1];
frame.set("platform", t_4);
frame.set("loop.index", t_1 + 1);
frame.set("loop.index0", t_1);
frame.set("loop.revindex", t_2 - t_1);
frame.set("loop.revindex0", t_2 - t_1 - 1);
frame.set("loop.first", t_1 === 0);
frame.set("loop.last", t_1 === t_2 - 1);
frame.set("loop.length", t_2);
output += "\n            <div class=\"action-bar__item action-bar--";
output += runtime.suppressValue(runtime.memberLookup((t_4),"name"), env.opts.autoescape);
output += " js-action-bar--";
output += runtime.suppressValue(runtime.memberLookup((t_4),"name"), env.opts.autoescape);
output += "\">\n                ";
var tasks = [];
tasks.push(
function(callback) {
env.getTemplate("./_feed-share-button.html", false, "app/static/components/homepage/share/_feed-card-share.html", null, function(t_7,t_5) {
if(t_7) { cb(t_7); return; }
callback(null,t_5);});
});
tasks.push(
function(template, callback){
template.render(context.getVariables(), frame, function(t_8,t_6) {
if(t_8) { cb(t_8); return; }
callback(null,t_6);});
});
tasks.push(
function(result, callback){
output += result;
callback(null);
});
env.waterfall(tasks, function(){
output += "\n            </div>\n        ";
});
}
}
frame = frame.pop();
output += "\n    </div>\n    <div class=\"xs-inline-block xs-relative action-bar__item action-bar--more js-action-bar--more js-unsupported\" data-module=\"action-bar-more\">\n        <script type=\"text/x-config\">\n          {\n              \"position\": \"more\",\n              \"cardId\": ";
output += runtime.suppressValue(runtime.contextOrFrameLookup(context, frame, "id"), env.opts.autoescape);
output += "\n          }\n        </script>\n        <a href=\"javascript:;\" data-type=\"more-button\" class=\"more-button\" data-bfa=\"@a:open-share-sheet;\">\n            <svg class=\"xs-relative share-icon\" width=\"512\" height=\"512\" viewBox=\"0 0 512 512\" >\n                <title>Share on</title>\n                Share on ";
output += "\n                <use xlink:href=\"#share-more-icon\"></use>\n            </svg>\n        </a>\n    </div>\n</div>\n";
if(parentTemplate) {
parentTemplate.rootRenderFunc(env, context, frame, runtime, cb);
} else {
cb(null, output);
}
;
} catch (e) {
  cb(runtime.handleError(e, lineno, colno));
}
}
return {
root: root
};

})();
})();



module.exports = shim(nunjucks, env, nunjucks.nunjucksPrecompiled["app/static/components/homepage/share/_feed-card-share.html"] , dependencies)