module.exports = "
<div class=\ "js-breaking-news__item breaking-news__item\" data-breaking-article-id=\ "<%=id%>\">\n
    <div class=\ "breaking-news__item-content\">\n
        <div class=\ "breaking-news__item-header\">\n <em class=\ "breaking-news__item-kicker\">Breaking news</em>\n
            <div class=\ "breaking-news__item-headline\">
                <%=headline%>
            </div>\n </div>\n
        <div class=\ "breaking-news__item-options\">\n <button class=\ "js-breaking-news__item__close button button--tertiary u-faux-block-link__promote\"\n aria-label=\ "Dismiss\"\n data-link-name=\ "close button\"><%=closeIcon%></button>\n </div>\n </div>\n <a class=\
        "u-faux-block-link__overlay\" href=\ "/<%=id%>\"></a>\n</div>\n"