exports = module.exports = require("../../../../../../node_modules/css-loader/lib/css-base.js")(false);
// imports
exports.i(require("-!../../../../../../node_modules/css-loader/index.js??ref--8-1!../../../../../../node_modules/postcss-loader/lib/index.js!shared/css/colors.css"), undefined);
exports.i(require("-!../../../../../../node_modules/css-loader/index.js??ref--8-1!../../../../../../node_modules/postcss-loader/lib/index.js!shared/css/grid.css"), undefined);

// module
exports.push([module.id, "._1nT88cMOqEVVJdUtWbEKxT{clear:both;padding:0 0 " + require("-!../../../../../../node_modules/css-loader/index.js??ref--8-1!../../../../../../node_modules/postcss-loader/lib/index.js!shared/css/grid.css").locals["gridSpacing"] + "}._1Enq_ftFNroXGW9IuoiL4-{display:block}.CfOk5HYwg8smlOXxN_fOE{-webkit-box-sizing:content-box;box-sizing:content-box;display:inline-block;font-size:12px;font-weight:700;line-height:25px;margin-right:20px}._2e24ID1B2RIWqXlWUKyMCD{display:block;font-size:10px;font-weight:700;text-transform:uppercase}", ""]);

// exports
exports.locals = {
	"colors": "\"shared/css/colors.css\"",
	"giphyWhite": "" + require("-!../../../../../../node_modules/css-loader/index.js??ref--8-1!../../../../../../node_modules/postcss-loader/lib/index.js!shared/css/colors.css").locals["giphyWhite"] + "",
	"grid": "\"shared/css/grid.css\"",
	"gridSpacing": "" + require("-!../../../../../../node_modules/css-loader/index.js??ref--8-1!../../../../../../node_modules/postcss-loader/lib/index.js!shared/css/grid.css").locals["gridSpacing"] + "",
	"container": "_1nT88cMOqEVVJdUtWbEKxT",
	"label": "_1Enq_ftFNroXGW9IuoiL4-",
	"toggle": "CfOk5HYwg8smlOXxN_fOE",
	"toggleLabel": "_2e24ID1B2RIWqXlWUKyMCD"
};