module.exports = "
<div class=\ "gu-comlabel has-popup\">\n\t<button class=\ "u-button-reset gu-comlabel__btn popup__toggle\" data-toggle=\ "gu-compopup--<%=data.dataAttr%>\"><%=data.buttonTitle%> <%=data.icon%></button>\n\t
    <div class=\
        "popup popup--default is-off gu-compopup gu-compopup--<%=data.dataAttr%> gu-stylebox\">\n\t\t
        <h3 class=\ "gu-compopup__title\">
            <%=data.infoTitle%>
        </h3>\n\t\t
        <p class=\ "gu-compopup__text\">
            <%=data.infoText%>
        </p>\n\t\t
        <a class=\ "gu-compopup__link\" href=\ "<%=data.infoLinkUrl%>\" target=\ "_blank\">
            <%=data.infoLinkText%>
        </a>\n\t</div>\n</div>\n"