.mo-wp {
    visibility: visible !important;
    font-family: Arial, sans-serif !important;
    font-style: normal !important;
    font-weight: 400 !important;
    text-align: left !important;
    list-style: disc outside none !important;
    text-shadow: none !important;
    text-indent: 0 !important;
    text-transform: none !important;
    letter-spacing: normal !important;
    word-spacing: normal !important;
    white-space: normal !important;
    border-spacing: 0 !important;
    cursor: auto !important;
    line-height: 1.5 !important;
    font-size: 16px !important;
    color: #333 !important;
    border-collapse: collapse !important;
    -webkit-text-size-adjust: 100% !important;
    -ms-text-size-adjust: 100% !important
}

.mo-wp *,
.mo-wp :after,
.mo-wp :before {
    box-sizing: border-box
}

.mo-wp a {
    text-decoration: none
}

.mo-wp a,
.mo-wp a:active,
.mo-wp a:hover,
.mo-wp a:visited {
    color: #007eb9 !important
}

.mo-wp a:hover {
    text-decoration: underline
}

.mo-wp img {
    border: 0;
    display: inline-block;
    vertical-align: middle
}

.mo-sitePriv {
    display: none;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 2px solid #007dbc;
    font-size: 14px !important;
    font-family: AmazonEmber, Helvetica Neue, Helvetica, Arial, sans-serif !important;
    background-color: #f1faff;
    color: #16191f !important;
    z-index: 6002
}

.mo-sitePriv a {
    white-space: nowrap !important
}

.mo-sitePriv a,
.mo-sitePriv a:active,
.mo-sitePriv a:hover,
.mo-sitePriv a:visited {
    color: #007dbc !important
}

.mo-sitePriv a:hover {
    text-decoration: underline
}

.mo-sitePriv .mo-row {
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px 40px 30px 20px
}

.mo-sitePriv .mo-close {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 18px;
    height: 18px;
    cursor: pointer !important
}

.mo-sitePriv .mo-close:after,
.mo-sitePriv .mo-close:before {
    position: absolute;
    content: "";
    width: 2px;
    height: 18px;
    margin-left: 9px;
    background-color: #545b64
}

.mo-sitePriv .mo-close:before {
    transform: rotate(45deg)
}

.mo-sitePriv .mo-close:after {
    transform: rotate(-45deg)
}

.mo-sitePriv .mo-close:hover:after,
.mo-sitePriv .mo-close:hover:before {
    background-color: #16191f
}