var nunjucks = require("nunjucks/browser/nunjucks-slim");
var env;
if (!nunjucks.currentEnv){
	env = nunjucks.currentEnv = new nunjucks.Environment([], undefined);
} else {
	env = nunjucks.currentEnv;
}
var dependencies = nunjucks.webpackDependencies || (nunjucks.webpackDependencies = {});




var shim = require("/usr/lib/node_modules/@buzzfeed/fe-build-tools/node_modules/@buzzfeed/nunjucks-loader/runtime-shim");


(function() {(nunjucks.nunjucksPrecompiled = nunjucks.nunjucksPrecompiled || {})["app/static/components/quizzes/partials/_top-featured-story.html"] = (function() {
function root(env, context, frame, runtime, cb) {
var lineno = null;
var colno = null;
var output = "";
try {
var parentTemplate = null;
output += "<a href=\"";
output += runtime.suppressValue(runtime.memberLookup((runtime.contextOrFrameLookup(context, frame, "config")),"webRoot"), env.opts.autoescape);
output += runtime.suppressValue(runtime.memberLookup((runtime.contextOrFrameLookup(context, frame, "image_item")),"link"), env.opts.autoescape);
output += "?origin=shp\" class=\"xs-block sm-px2 xs-mb2 link-gray clearfix\"\n    data-bfa=\"@a:post|package|";
output += runtime.suppressValue(runtime.memberLookup((runtime.contextOrFrameLookup(context, frame, "image_item")),"number"), env.opts.autoescape);
output += "; @o:{dimension2:";
output += runtime.suppressValue(runtime.memberLookup((runtime.contextOrFrameLookup(context, frame, "image_item")),"id"), env.opts.autoescape);
output += ",dimension4:";
output += runtime.suppressValue(env.getFilter("escape").call(context, runtime.memberLookup((runtime.contextOrFrameLookup(context, frame, "image_item")),"title")), env.opts.autoescape);
output += "}; @d:";
if(runtime.contextOrFrameLookup(context, frame, "package_type")) {
output += runtime.suppressValue(runtime.contextOrFrameLookup(context, frame, "package_type"), env.opts.autoescape);
;
}
else {
output += runtime.suppressValue(runtime.memberLookup((runtime.contextOrFrameLookup(context, frame, "image_item")),"number"), env.opts.autoescape);
;
}
output += "; @e:{type:package,obj_id:";
output += runtime.suppressValue(runtime.memberLookup((runtime.contextOrFrameLookup(context, frame, "image_item")),"id"), env.opts.autoescape);
output += ",obj_type:post,p:";
output += runtime.suppressValue(runtime.contextOrFrameLookup(context, frame, "position"), env.opts.autoescape);
output += ",sub_p:";
output += runtime.suppressValue(runtime.memberLookup((runtime.contextOrFrameLookup(context, frame, "image_item")),"number"), env.opts.autoescape);
output += ",post_category:";
output += runtime.suppressValue(runtime.memberLookup((runtime.contextOrFrameLookup(context, frame, "image_item")),"category"), env.opts.autoescape);
output += ",data_source:";
output += runtime.suppressValue(runtime.contextOrFrameLookup(context, frame, "data_source"), env.opts.autoescape);
output += ",treatment:";
output += runtime.suppressValue(runtime.contextOrFrameLookup(context, frame, "treatment"), env.opts.autoescape);
output += ",sub_unit:";
output += runtime.suppressValue(runtime.contextOrFrameLookup(context, frame, "sub_unit"), env.opts.autoescape);
output += ",unit_name:";
output += runtime.suppressValue(runtime.contextOrFrameLookup(context, frame, "unit_name"), env.opts.autoescape);
output += "}\" data-bfa-impressions=\"true\">\n\n    <div class=\"wire-frame__img card__image card__image--big col xs-col-12 sm-col-5 md-col-12 lg-col-6 xs-mb1\">\n      <img\n        alt=\"";
output += runtime.suppressValue(runtime.memberLookup((runtime.contextOrFrameLookup(context, frame, "image_item")),"image_alt_text"), env.opts.autoescape);
output += "\"\n        ";
if(runtime.contextOrFrameLookup(context, frame, "is_progressive_image_loading")) {
output += "\n        src=\"";
output += runtime.suppressValue(env.getFilter("safe").call(context, runtime.memberLookup((runtime.contextOrFrameLookup(context, frame, "utils")),"transGif1x1Base64")), env.opts.autoescape);
output += "\"\n        data-src=\"";
output += runtime.suppressValue(runtime.memberLookup((runtime.contextOrFrameLookup(context, frame, "image_item")),"image_dblwide"), env.opts.autoescape);
output += "\"\n        class=\"js-progressive-image\"\n        data-quality=\"90\"\n        ";
;
}
else {
output += "\n        src=\"";
output += runtime.suppressValue(runtime.memberLookup((runtime.contextOrFrameLookup(context, frame, "image_item")),"image_dblwide"), env.opts.autoescape);
output += "?output-format=auto&output-quality=90\"\n        ";
;
}
output += "\n      />\n    </div>\n  <div class=\"col xs-col-12 sm-col-7 md-col-12 lg-col-6 xs-pt05 md-pt0 xs-px2 sm-pl2 sm-pr0 md-pl0 lg-pl2 xs-pb1\">\n    <h3 class=\"card__featured-headline xs-mb05 xs-text-3 md-text-2 bold\">";
output += runtime.suppressValue(runtime.memberLookup((runtime.contextOrFrameLookup(context, frame, "image_item")),"title"), env.opts.autoescape);
output += "</h3>\n    <div class=\"js-card__description xs-mb05 xs-text-5 text-gray-lighter\">";
output += runtime.suppressValue(runtime.memberLookup((runtime.contextOrFrameLookup(context, frame, "image_item")),"description"), env.opts.autoescape);
output += "</div>\n  </div>\n</a>\n";
if(parentTemplate) {
parentTemplate.rootRenderFunc(env, context, frame, runtime, cb);
} else {
cb(null, output);
}
;
} catch (e) {
  cb(runtime.handleError(e, lineno, colno));
}
}
return {
root: root
};

})();
})();



module.exports = shim(nunjucks, env, nunjucks.nunjucksPrecompiled["app/static/components/quizzes/partials/_top-featured-story.html"] , dependencies)